content {
    #posts-list {
        .post-card {
            margin-bottom: $vertical-spacing;
            .card-img {
                border-bottom: {
                    left-radius: unset;
                    right-radius: unset;
                }
            }
            .card-footer {
                a {
                    color: $primary;
                }
            }
        }
        .pagination {
            .page-item {
                .page-link {
                    color: $primary;
                }
                &.disabled .page-link {
                    color: #6c757d;
                }
                &.active .page-link {
                    color: $secondary;
                    background-color: $primary;    
                    border-color: $primary;
                }
            }
        }
    }
    #post-details {
        .title {
            width: 100%;
            border-bottom: {
                width: 1px;
                style: solid;
                color: $fourth;
            }
        }
        .post-image {
            width: 100%;
            height: auto;
        }
        .date {
            font-size: 0.7em;
            a {
                color: $primary;
            }
        }
        .body {
            font-size: 1em;
        }
    }
    #share-confirmation {
        margin-top: 50px;
        .card {
            .card-header {
                background-color: $confirmationColor;
                color: $secondary;
            }
            .card-body {
                padding: 5rem 1.25rem;
                background-color: lighten($fourth, 75);
            }
        }
    }
}