content {
    #posts-list {
        .post-card {
            margin-bottom: $vertical-spacing;
            .card-img {
                border-bottom: {
                    left-radius: unset;
                    right-radius: unset;
                }
            }
            .card-title {
                margin-bottom: 0px;
            }
            .card-tags {
                font-size: 0.7rem;
                span a {
                    color: $primary;
                }
            }
            .card-footer {
                a {
                    color: $primary;
                }
            }
        }
        .pagination {
            .page-item {
                .page-link {
                    color: $primary;
                }
                &.disabled .page-link {
                    color: #6c757d;
                }
                &.active .page-link {
                    color: $secondary;
                    background-color: $primary;    
                    border-color: $primary;
                }
            }
        }
    }
    #post-details {
        .title {
            width: 100%;
            border-bottom: {
                width: 1px;
                style: solid;
                color: $fourth;
            }
        }
        .post-image {
            width: 100%;
            height: auto;
        }
        .date {
            font-size: 0.7em;
            a {
                color: $primary;
            }
        }
        .body {
            font-size: 1em;
        }
    }
    #post-share form {
        margin-top: 0px;
    }
    #share-confirmation {
        margin-top: 50px;
        .card {
            .card-header {
                background-color: $confirmationColor;
                color: $secondary;
            }
            .card-body {
                padding: 5rem 1.25rem;
                background-color: lighten($fourth, 75);
            }
        }
    }
    #new_comment {
        background-color: $confirmationColor;
        color: $secondary;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: $vertical-spacing;
        h3 {
            margin-bottom: 0px;
        }
    }
    #comments-count {
        margin: 40px 0px 20px 0px;
    }
    #comments-container {
        margin-bottom: $vertical-spacing;
        .comment {
            background-color: lighten($fourth, 75);
            padding: 10px;
            &:nth-child(2n) {
                background-color: transparent;
            }
            .comment-header {
                font-size: 0.7em;
                span {
                    color: $primary;
                }
            }
            .comment-body {

            }
        }
    }
}