aside {
    .card {
        margin-bottom: $vertical-spacing;
        .card-title {
            background-color: lighten($fourth, 75);
            padding: 5px 10px;
            margin-bottom: 0px;
            a {
                color: $primary;
                text-decoration: none;
                float: right;
                font-weight: bold;
                .icon {
                    margin-left: 3px;
                    line-height: 1.2em;
                }
            }
        }
        .card-body {
            padding: 10px;
            .total-posts {
                span {
                    color: $primary;
                    font: {
                        weight: bold;
                        size: 1.15em;
                    }
                }
            }
            .posts-lits {
                ul {
                    margin-bottom: 0px;
                    padding-left: 12px;
                    a {
                        color: $primary;
                    }
                }
            }
        }
        #search-form {
            input:focus {
                border-color: $primary;
                box-shadow: none;
            }
        }
    }
}