@import "../../../../icons/dist/iconfont.css"; 
@import "~bootstrap/scss/bootstrap";
@import "_navbar";

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

#main {
    margin-top: 56px;
    sidebar {
        padding-top: 15px;
        @media (max-width: 992px) {
            display:inline-block;
            height: calc(100vh - 56px);
            width:0px;
            position: absolute;
            top: 56px;
            left: 0;
            z-index: 1;
            overflow: hidden;
            -webkit-transition: .3s all;
            -moz-transition: .3s all;
            -o-transition: .3s all;
            -ms-transition: .3s all;
            transition: .3s all;
            padding: 0;
            &.show {
                width: 200px;
            }
        }
        li.active {
            a {
                font-weight: bold;
            }
        }
    }
    content {
        padding: 15px;
        .content-wrapper {
            padding: 15px;
            min-height: calc(100vh - 86px);
        }
    }
}

.btn-edit {
    color: #ffffff;
    background-color: #af34ed;
    border-color: #af34ed;
}

.buttonHolder {
    text-align: center;
    margin-top: 3em;
}