{% extends "backend/home.html" %}
{% load staticfiles thumbnail %}

{% block css %}
    <link href="{% static "slider_backend/slides_list.bundle.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div id="slides_list" class="row">
        <div class="col-lg-8 mx-auto mt-4 text-center">
            {% if not slides %}
                <h4>There are not any slides added.</h4>
            {% else %}
                <h7 class="text-info">Grab and move element to change slides order.</h7>
                <ul id="sortable_ul" style="min-height: {{ height }}px;">
                    {% for slide in slides %}
                        <li slide_id="{{ slide.id }}">
                            <div class="header">
                                <span class="number">{{ forloop.counter }}</span>
                                <a href="{% url 'slider_backend:slide_delete' slide.id %}">
                                    <span class="delete">X</span>
                                </a>
                            </div>
                            {% thumbnail slide.image "180x120" crop="100%" as im %}
                            <img src="{{ im.url }}" alt="No photo"/>
                            {% endthumbnail %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if slides.count < 10 %}
            <div class="col-12 text-center mt-3">
                <a href="{% url "slider_backend:slide_create" %}">
                    <button class="btn btn-success">Add Slide</button>
                </a>
            </div>
        {% endif %}
    </div>
    <div id="savingModal" class="modal">
        <div class="modal-content align-items-center">
            <p>Saving changes..</p>
            <div class="loader"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "slider_backend/slides_list.bundle.js" %}"></script>
    <script>
        var csrftoken = $.cookie('csrftoken')
        function csrfSafeMethod(method) {
            return (/^(POST)$/.test(method))
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
        window.urls = {
            slides_order: '{% url 'slider_backend:slides_order' %}'
        }
    </script>
{% endblock %}