{% extends "frontend/home.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "employees/employees.bundle.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="employees">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1><span>O</span>ur <span>t</span>eam</h1>
            <div class="border"></div>
            <p>Get to know our instructors better!</p>
        </div>
    </div>
    <div class="row">
        <content class="col">
                {% block employees_content %}{% endblock %} 
        </content>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static "employees/employees.bundle.js" %}"></script>
{% endblock %}