$transparent-bg-color: transparentize($third, 0.40);

#header-top {
    @include display-table;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #a7a7a7cc;
    border-bottom: {
        width: 1px;
        style: solid;
        color: $transparent-bg-color;
    }
    #navbar-container {
        width: 100%;
        .navbar-toggler {
            border: {
                width: 1px;
                style: solid;
                color: $primary;
            }
            .icon {
                color: $secondary;
                font-size: 1.75rem;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $secondary;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 1em 0.5em;
                    margin: 0em 0.5em;
                    font: {
                        weight: 600;
                        size: 0.9em;
                    }
                    &:hover {
                        color: $primary;
                    }
                }
                &.active .nav-link {
                    color: $primary;
                }
            }
        }
        @media (max-width: 767px) {
            .navbar {
                padding-left: 0;
                .navbar-collapse {
                    position: absolute;
                    top: 48px;
                    min-width: 130px;
                    background-color: $transparent-bg-color;
                    border: {
                        width: 1px;
                        style: solid;
                        color: transparentize($primary, 0.82);
                        radius: 0.25rem;
                    } 
                }
            }
        }
    }
    #login-container {
        width: 288px;
        vertical-align: middle;
        .dropdown {
            .btn {
                border-color: $primary;
                color: $secondary;
                background-color: transparent;
                &:focus {
                    box-shadow: 0 0 0 0.1rem transparentize($primary, 0.82);
                }
            }
           .dropdown-menu {
                background-color: $transparent-bg-color;
                border-color: transparentize($primary, 0.82);
                .dropdown-item {
                    color: $secondary;
                    &:hover {
                        background: none;
                        color: $primary;
                    }
                }
            }
        }
    }
}