@mixin display-table {
    .table-container {
        display: table;
    }
    .table-container > .table-row {
        display: table-row;
    }
    .table-container > .table-row > .table-cell {
        display: table-cell;
    }
}

@mixin jumbotron {    
    html, body{
        width:100%;
        height:100%;
    }
    .jumbotron-header {  
        width:100%;
        height:40%;  
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        .title {
            position: absolute;
            left: 0;
            top: 20%;
            width: 100%;
            text-align: center;
            color: #000;
        }
    }
}