@mixin display-table {
    .table-container {
        display: table;
    }
    .table-container > .table-row {
        display: table-row;
    }
    .table-container > .table-row > .table-cell {
        display: table-cell;
    }
}