@import '../../../base_templates/frontend_partials/scss/main.scss';

#employees { 
   & > .jumbotron {
       height: 100vh;
       background-image: url("/media/backgrounds/employees_background.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       align-items: center;
       color: $secondary;
       text-align: center;
       h1 {
            font-size: 5em;
            letter-spacing: 2px;
            padding: 0;
            font-weight: bold;
            span {
                color: $primary;
            }
        }
        .border {
            background: $secondary;
            height: 4px;
            width: 25%;
            margin: 1em auto;
        }
        p {
            font-size: 2em;
        }
   }
   #employees-list {
       .container-wrapper {
            padding: 30px 0px;
            &:nth-child(2) {
                background-color: $fifth;
            }
        }
        .employee-picture {
            text-align: center;
            img {
                box-shadow: 7px 7px 7px #ccc;
                -webkit-box-shadow: 7px 7px 7px #ccc;
                -moz-box-shadow: 7px 7px 7px #ccc;
            }
        }
        .employee-details {
            .name {
                width: 100%;
                border-bottom: {
                    width: 1px;
                    style: solid;
                    color: #2f2f2f;
                }
            }
            .description {
                img {
                    float: left;
                    margin-right: 16px;
                    box-shadow: 4px 4px 4px #ccc;
                    -webkit-box-shadow: 4px 4px 4px #ccc;
                    -moz-box-shadow: 4px 4px 4px #ccc;
                }
            }
        }
        .contact {
            margin: 50px auto 0 auto;
            border-top: {
                width: 1px;
                style: solid;
                color: $primary;
            }
            .icon {
                color: $primary;
                font-size: 2em;
                margin: 0 10px;
                margin-top: 0.6em;
                display: inline-block;
            }
        }
   }
}

