@import '../../../base_templates/frontend_partials/scss/main.scss';

#employees { 
   & > .jumbotron {
       height: 100vh;
       background-image: url("/media/backgrounds/employees_background.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       align-items: center;
       color: $secondary;
       text-align: center;
       h1 {
            font-size: 5em;
            letter-spacing: 2px;
            padding: 0;
            font-weight: bold;
            span {
                color: $primary;
            }
        }
        .border {
            background: $secondary;
            height: 4px;
            width: 25%;
            margin: 1em auto;
        }
        p {
            font-size: 2em;
        }
   }
}

