{% extends "blog/base.html" %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}Blog Main Site{% endblock title %}

{% block blog_content %}
    <div id="posts-list">
        {% if tag %}
            {% if posts.count %}
                <h3>Posts tagged {{ tag }}:</h3><hr/>
            {% else %}
                <h3>There are no posts tagged : {{ tag }}</h3>
            {% endif %}
        {% endif %}
        {% for post in posts %}
            <div class="card post-card">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image" alt="No photo"/>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    {% with post.tags.all as tags %}
                        {% if tags %}
                            <p class="card-tags">Tags: 
                                {% for tag in tags %}
                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                                        {{ tag.name }} 
                                    </a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endwith %}
                    <p class="card-text">{{ post.body|markdown|truncatewords_html:30 }}</p>
                    <a href="{{ post.get_absolute_url }}">
                        <button class="btn btn-primary">
                            Read More<i class="icon icon-long-arrow-alt-right"></i>
                        </button>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.publish|date:"M d, Y" }} by <a href="#">{{ post.author }}</a>
                </div>
            </div>
        {% endfor %}
        {% if not posts.count and not tag %}
            <h3 class>Sorry :(</h3>
            <h4>No posts have benn published yet.</h1>
        {% endif %}
        {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="./?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}
                {% for counter in page_obj.paginator.page_range %}
                    <li class="page-item {% if counter == page_obj.number %}active{% endif %}">
                        <a class="page-link" href="./?page={{ counter }}">
                            {{ counter }}
                        </a>
                    </li>
                {% endfor %}            
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="./?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>    
        {% endif %}
    </div>
{% endblock %}