#employees {
    .container {
        margin-top: 2em;
    }
    .employees-wrapper {
        margin: 0 auto 80px auto;
        max-width: 960px;
        ul {
            list-style: none;
            padding: 0;
            li {
                width: 260px;
                height: 400px;
                margin: 30px;
                float: left;
                perspective: 1000px;
                .cube {
                    width: 260px;
                    height: 400px;
                    transform-style: preserve-3d;
                    transform: translateZ(-130px);
                    transition: transform 350ms;
                    &:hover {
                        transform: rotateY(-78deg) translateZ(20px);
                        .main-picture {
                            box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
                        }
                    }
                    &::after {
                        content: '';
                        width: 260px;
                        height: 260px;
                        position: absolute;
                        bottom: 0;
                        box-shadow: 0 30px 50px rgba(0,0,0,0.3);
                        transform-origin: 100% 100%;
                        transform: rotateX(90deg) translateY(130px);
                        transition: box-shadow 350ms;
                    } 
                    &:hover::after {
                        box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
                    }
                    .main-picture, .details, .details header {
                        transition: box-shadow 350ms;
                    }
                    .main-picture, .details {
                        position: absolute;
                        width: 260px;
                        height: 400px;
                        background-color: #fff;
                        backface-visibility: hidden;
                    }
                    .main-picture  {
                        transform: translateZ(130px);
                        background-size: cover;
                        background-repeat: no-repeat;
                        box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
                        .icon-corner {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 48px;
                            color: $primary;
                        }
                        .icon-info {
                            position: absolute;
                            top: 4px;
                            right: 8px;
                            font-size: 20px;
                            color: $secondary;
                        }
                    }  
                    .details {
                        transform: rotateY(90deg) translateZ(130px);
                        border: 1px solid #B8B5B5;
                        font-size: 0.75em;
                        img {
                            height:172px;
                            max-width:258px
                        }
                        header {
                            position:   absolute;
                            top: 0px;
                            color: #FFF;
                            padding: 7px 10px;
                            font-weight: bold;
                            height: 195px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            text-shadow: 0px 1px 1px rgba(0,0,0,1);
                            h1 {
                                margin: 0 0 2px;
                                font-size: 1.4em;
                            }
                        }
                        p {
                            height: 170px;
                            padding: 1.2em 1.4em 1.1em 1.4em;
                            margin: 2px 0 0;
                            font-weight: 700;
                            color: $third;
                            line-height: 1.4em;
                            border-top: {
                                width: 10px;
                                style: solid;
                                color: $primary;
                            }
                        }
                        .read_more {
                            text-align: center;
                            a {
                                background-color: $primary;
                                color: $secondary;
                                text-decoration: none;
                                font-size: 1.5em;
                                padding: 0.25em;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}