@import '../../../base_templates/frontend_partials/scss/main.scss';

#landing_page {
    margin-top: 200px; 
    @import '_blog.scss';
    
    .content-container {
        padding: {
            top: 2em;
            bottom: 1em;
        }
        .header {
            font-size: 3.5em;
            text-align: center;
            font-weight: 400;
            text-transform: Uppercase;
        }
        .content {
            margin: 3em 0 0 0;
        }
    }
}

