<div id="counter" class="parallax-window" data-parallax="scroll" data-image-src="/media/counter/counter-background.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 counter-column">
                <div class="icon-wrapper">
                    <i class="icon icon-customers "></i>
                </div>
                <p class="counter_field" data-id="customers"> </p>
                <h4>Customers</h4>
            </div>
            <div class="col-lg-3 counter-column">
                <div class="icon-wrapper">
                    <i class="icon icon-classes "></i>
                </div>
                <p class="counter_field" data-id="classes"></p>
                <h4>Classes</h4>
            </div>
            <div class="col-lg-3 counter-column">
                <div class="icon-wrapper">
                    <i class="icon icon-weight "></i>
                </div>
                <p class="counter_field" data-id="calories"></p>
                <h4>Calories burned</h4>
            </div>
            <div class="col-lg-3 counter-column">
                <div class="icon-wrapper">
                    <i class="icon icon-trainers "></i>
                </div>
                <p class="counter_field" data-id="instructors"></p>
                <h4>Instructors</h4>
            </div>
        </div>
    </div>
</div>