<div id="slider" class="carousel slide text-center" data-ride="carousel">
        {% if slides_range|length %}
                <ul class="carousel-indicators">
                        {% for i in slides_range %}
                                <li data-target="#slider" data-slide-to="{{ i }}" class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor%}  
                </ul>
        {% endif %}
        <div class="carousel-inner">    
                {% for slide in slides %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ slide.image.url }}" alt="No photo">
                        </div>   
                {% endfor %}
        </div>
        {% if slides_range|length %}
                <a class="carousel-control-prev control" href="#slider" data-slide="prev">
                        <i class="icon icon-angle-double-left"></i>
                </a>
                <a class="carousel-control-next control" href="#slider" data-slide="next">
                        <i class="icon icon-angle-double-right"></i>
                </a> 
        {% endif %}
        <div id="carousel-header">
                <div class="content">
                        <h3><span>F</span>itness <span>C</span>lub</h3>
                        <div class="border"></div>
                        <p>Join us today!</p>
                </div>
        </div>
</div>
