{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <!--[if lt IE 9]>
            <script src="{% static "base_templates/html5shiv.js" %}></script>
        <![endif]-->
        <meta charset="UTF-8">
        <title>{% block title %}Fitness Club{% endblock %}</title>
        <link href="{% static "base_templates/bootstrap/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
        <script src="{% static "base_templates/bootstrap/bootstrap.min.js" %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>


<!--
    header, section, footer, aside, nav, main, article, figure {
    display: block;
}
-->