{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <!--[if lt IE 9]>
            <script src="{% static "base_templates/html5shiv.js" %}></script>
        <![endif]-->
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
        <title>{% block title %}Fitness Club{% endblock %}</title>
        {% block css %}
            <link href="{% static "base_templates/frontendBase.bundle.css" %}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% block javascript %}
            <script src="{% static "base_templates/frontendBase.bundle.js" %}"></script>
        {% endblock %}
    </body>
</html>