{% extends "backend/home.html" %}
{% load blog_tags %}

{% block content %}
    <div id="post-delete">
        <form action="." method="post" class="col-lg-8 mx-auto text-center">
            {% csrf_token %}
            <h3 class="text-primary">Are you sure you want to delete post?</h3>
            <h4>Title: {{ object }}</h4>
            <p>
                {{ object.body|markdown|truncatewords_html:30 }}
            </p>
            <p>
                <input class="btn btn-primary" type="submit" value="Confirm">
                <input class="btn btn-secondary" type="submit" name="cancel" value="Cancel">
            </p>
        </form>
    </div>
{% endblock %}