{% extends "backend/home.html" %}
{% load staticfiles crispy_forms_tags %}

{% block css %}
    <link href="{% static "blog_backend/post_edit.bundle.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div id="post-edit" class="col-lg-8 mx-auto">
        <form action="." method="post" enctype="multipart/form-data">
            {% crispy form %}  
        </form>
    </div>
    <div class="modal fade" id="imageModal">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Crop image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="mx-auto ">
                    <img id="image-to-crop" src="#" alt="No Image" />
                </div>
                <div class="container">
                    <input id="range-control" type="range" min="1" max="100" value="0" class="slider" name="range">
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button id="crop-button" type="button" class="btn btn-primary" data-dismiss="modal">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "blog_backend/post_edit.bundle.js" %}"></script>
{% endblock %}