Django==1.8.6
uwsgi==2.0.17.1
psycopg2==2.7.3.1
pytz==2018.4
django-crispy-forms==1.7.2
django-taggit==0.17.1
Markdown==2.6.2
beautifulsoup4==4.6.3
django-haystack==2.4.0
pysolr==3.3.3
Pillow==2.9.0
django-hosts==2.0
django-auth-mixins==1.0.1
django-preserialize==1.2.1
djangorestframework==3.4.7