<nav id="top-navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="flex-row d-flex">
        <button id="sidebar-switch-btn" type="button" class="navbar-toggler mr-2">
            <i class="icon icon-bars"></i>
        </button>
        <a class="navbar-brand" href="{% url "landing_page_backend" %}" data-toggle="tooltip" data-placement="bottom" title="Home">FC Dashboard</a>
    </div>
    <a href="{% url "logout" %}" class=" ml-auto" data-toggle="tooltip" data-placement="bottom" title="Logout">
        <button type="button" class="btn btn-primary">
            <i class="icon icon-logout"></i>
        </button>   
    </a>
</nav>